<div class="wrapper">
    <div class="card mb-3">
      <div class="card-header">
        <div class="col">
          <h3>{{ news.name }}</h3>
        </div>
        <div
          class="col"
          *ngIf="news.category && news.category != 'provvisorio'"
        >
          <small class="text-info"> Categoria: </small>
          <span class="text-info">
            <span *ngIf="news.category === 'Business'">
              {{ news.category }}
              <i class="bi bi-briefcase"></i>
            </span>
            <span *ngIf="news.category === 'Entertainment'">
              {{ news.category }}
              <i class="bi bi-controller"></i>
            </span>
            <span *ngIf="news.category === 'Culture'">
              {{ news.category }}
              <i class="bi bi-palette"></i>
            </span>
            <span *ngIf="news.category === 'ScienceAndTechnology'">
              {{ news.category }}
              <i class="bi bi-laptop"></i>
            </span>
            <span *ngIf="news.category === 'Sports'">
              {{ news.category }}
              <i class="bi bi-bicycle"></i>
            </span>
            <span *ngIf="news.category === 'World'">
              {{ news.category }}
              <i class="bi bi-globe"></i>
            </span>
            <span *ngIf="news.category === 'Education'">
              {{ news.category }}
              <i class="bi bi-book"></i>
            </span>
            <span *ngIf="news.category === 'No category'">
              Nessuna
              <i class="bi bi-x-square"></i>
            </span>
          </span>
        </div>
        <div class="mt-3 mb-3" *ngIf="news.sentiment === 'positive'">
          <span class="badge badge-green">Positivo</span>
          <span> - </span>
          <span class="badge badge-green">{{
            news.sentimentScores.positive | percent
          }}</span>
        </div>
        <div class="mt-3 mb-3" *ngIf="news.sentiment === 'negative'">
          <span class="badge badge-red">Negativo</span>
          <span> - </span>
          <span class="badge badge-red">{{
            news.sentimentScores.negative | percent
          }}</span>
        </div>
        <div class="mt-3 mb-3" *ngIf="news.sentiment === 'neutral'">
          <span class="badge badge-grey">Neutrale</span>
          <span> - </span>
          <span class="badge badge-grey">{{
            news.sentimentScores.neutral | percent
          }}</span>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">{{ news.description }}...</p>
        <a class="btn btn-primary float-end" [href]="news.url" target="_blank"
          >Leggi la notizia</a
        >
      </div>
      <div class="card-footer cardFooter">
        <p>
          <small class="text-muted">{{ news.date | date }}</small>
        </p>
        <p>
          <small class="text-muted"
            >Pubblicato da: {{ news.provider.name }}</small
          >
        </p>
      </div>
    </div>
</div>
