.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card img{
  object-fit: cover;
}

.wrapper{
  display: flex;
  justify-content: space-between;
}

.sentiment-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-green {
  color: green;
}

.text-red {
  color: red;
}

.text-grey {
  color: grey;
}

.score-typo{
  font-size: 14px;
}

.emoji-container{
  border: 1px solid grey;
  border-radius: 20px;
}