.btn-delete{
  width:50px;
}


.title{
  font-size: 8vmax;
  line-height: 1;
  font-weight: 900;
  margin-bottom: 30px;
}

.signup-typography{
  text-align: center;
  font-size: 4vmax;
  font-weight: 900;
}

.title span{
  background-color: white;
  color: #00337C;
  border-radius: 5px;
  padding:10px;
}

.btn-signup{
  float:right;
  width: 100px;
  height: 50px;
}

.subtitle{
  padding-top:10px;
  border-top:2px solid white;
}
