<div class="container-fluid" data-aos="fade-in">
  <div class="row min-vh-100">
    <div class="col-lg left bg-primary text-white p-5 text-center d-flex">
      <div class="row align-items-center justify-content-center">
        <div class="row">
          <div class="row">
            <h1 class="h1 title"><span>Neutral</span></h1>
          </div>
          <div class="row"><p class="h1 title">News</p></div>
          <div class="row">
            <p class="h3 subtitle">
              Resta aggiornato su tutto ciò che ti interessa con la possibilità
              di poter filtrare i contenuti tossici
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg text-center p-3 d-flex">
      <div class="row justify-content-center align-items-center">
        <div class=""><h1 class="signup-typography">Registrazione</h1></div>
        <div class=""><p class="description">
          Nessuna e-mail da confermare, inserisci Username e Password e parti
          subito!
        </p></div> 
        <div class=" form-group">
          <form [formGroup]="userSignup">
            <div class="form-floating mb-4 mt-2">
              <input type="text" class="form-control" id="floatingUsername" formControlName="username" placeholder="username">
              <label for="floatingUsername">Username</label>
            </div>
            <div class="row">
              <div class="col">
              <div class="form-floating mb-4">
                <input type="password" class="form-control" id="floatingPassword" formControlName="password" placeholder="password">
                <label for="floatingPassword">Password</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-4">
                <input type="password" class="form-control" id="repeat" formControlName="repeatPassword" placeholder="repeat password">
                <label for="repeat">Ripeti Password</label>
              </div>
            </div>
          </div>
            <div
            class="alert alert-danger"
            role="alert"
            *ngIf="userSignup.get('password')?.value.length < 8"
          >
            La password deve essere lunga almeno 8 caratteri
          </div>
              <div class="m-3">
                <p class="h5">
                  Seleziona le categorie che Preferisci: Minimo 1
                </p>
              </div>
              <div class="row row-cols-2">
              <div *ngFor="let element of preferitiFormArray.controls; let i = index" class="col mt-2">
                <label formArrayName="preferiti" class="w-100">
                    <input type="checkbox" class="btn-check" [id]="i" autocomplete="off" [formControlName]="i">
                    <label class="btn btn-outline-primary w-100" [htmlFor]="i">{{categorie[i].name}}</label><br>
                </label>
              </div>
            </div>
          </form>
        </div>
        <div>
          <button
            class="btn btn-primary btn-signup mt-2 mb-1"
            type="submit"
            [disabled]="!userSignup.valid && preferitiFormArray.length > 0"
            (click)="signup()"
          >
            <span>Registrati</span>
          </button>
        </div>
        <div class="last-typo">
          <p>
            Possiedi gia un account? <a href="login">Accedi subito,</a> non
            aspettare altro tempo!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- partial -->
