.main-row{
  height: 100vh;
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}
.left {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
  background: #5961f9ad;
}
.right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title{
  font-size: 8vmax;
  line-height: 1;
  font-weight: 900;
}

.title-main{
  margin-bottom:20px;
}

.title span{
  background-color: white;
  color: #5961f9ad;
  border-radius: 5px;
  padding:10px;
}

.subtitle{
  padding-top:10px;
  border-top:2px solid white;
}

.right{
  padding:50px
}