<div class="main-container bg-primary">
  <div class="container-sm wrapper" data-aos="fade-in">
    <div class="row mt-1">
      <div class="col-sm-5 d-flex align-items-center justify-content-center">
        <a class="navbar-brand" routerLink="/home">
          <img src="../../../assets/favicon16.png"          alt="" width="30" height="24">
        </a>
        <h1 class="h1 title mt-2">
          <a href="/" class="text-decoration-none text-primary"
            ><span>Neutral News</span></a
          >
        </h1>
      </div>
      <div class=" col-sm-2">
        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header text-center">
            <h4 class="modal-title" id="modal-basic-title">Pannello Utente</h4>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="d('Cross click')"
            ></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="userForm">
              <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  [value]="this.userService.getUsername()"
                  [attr.disabled]="true"
                  formControlName="username"
                  placeholder="name@example.com"
                />
                <label for="floatingInput">Username</label>
              </div>
              <div class="input-group d-flex">
                <div class="form-floating">
                  <input
                    [type]="fieldTextType ? 'text' : 'password'"
                    class="form-control"
                    id="floatingPassword"
                    [value]="this.userService.getPassword()"
                    formControlName="password"
                    placeholder="Password"
                  />
                  <label for="floatingPassword">Password</label>
                </div>
                <div class="input-group-append">
                  <span class="input-group-text h-100">
                    <i
                      class="fa"
                      [ngClass]="{
                        'fa-eye-slash': !fieldTextType,
                        'fa-eye': fieldTextType
                      }"
                      (click)="toggleFieldTextType()"
                    ></i>
                  </span>
                </div>
              </div>
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="!userForm.get('password')?.valid && updateEnable"
              >
              <div *ngIf="userForm.get('password')?.errors?.['required']">
                La password è obbligatoria.
              </div>
              <div *ngIf="userForm.get('password')?.errors?.['minlength']">
                La password deve essere lunga almeno 8 caratteri.
              </div>
              <div *ngIf="userForm.get('password')?.errors?.['pattern']">
                La password deve contenere 1 Maiuscola ed 1 Numero.
              </div>
              </div>
              <div class="d-flex justify-content-between">
                <button
                  class="btn btn-primary mt-3 float-end"
                  (click)="enableUpdate()"
                  [disabled]="updateEnable"
                >
                  Modifica Password
                </button>
                <button
                class="btn btn-primary mt-3 float-end"
                (click)="disableUpdate()"
                [hidden]="!updateEnable"
              >
                Annulla
              </button>
              </div>
              <hr class="my-4" />
              <h5 class="text-center text-primary">Preferiti</h5>
              <div class="row row-cols-2 mb-4">
                <div
                  *ngFor="
                    let element of preferitiFormArray.controls;
                    let i = index
                  "
                  class="col w-50 mt-2"
                >
                  <label formArrayName="preferiti" class="w-100">
                    <input
                      type="checkbox"
                      class="btn-check"
                      [id]="i"
                      autocomplete="off"
                      [formControlName]="i"
                    />
                    <label
                      class="btn btn-outline-primary w-100"
                      [htmlFor]="i"
                      >{{ categorie[i].name }}</label
                    ><br />
                  </label>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer d-flex justify-content-between">
            <button
              type="button"
              class="btn-primary btn btn-block float-start"
              (click)="disconnect()"
            >
              Disconnetti
            </button>
            <button
              type="button"
              class="btn-primary btn btn-block"
              [disabled]="!userForm.valid"
              (click)="open(content2)"
            >
              Save
            </button>
          </div>
        </ng-template>
        <ng-template #content2 let-c="close" let-d="dismiss">
          <div class="modal-header text-center">
            <h4 class="modal-title" id="modal-basic-title">Pannello Utente</h4>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="d('Cross click')"
            ></button>
          </div>
          <div class="modal-body">
            <div
              style="height: 13vh"
              class="d-flex align-items-center justify-content-center"
            >
              <h5 class="text-center text-primary">
                Sicuro di voler procedere?
              </h5>
            </div>
            <div class="d-flex justify-content-center">
              <div
                class="spinner-border text-primary"
                role="status"
                *ngIf="loader.getLoading2()"
              >
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-around">
            <button
              type="button"
              class="btn-primary btn btn-block btn-lg"
              (click)="d('Cross click')"
            >
              No
            </button>
            <button
              type="button"
              class="btn-primary btn btn-block btn-lg"
              [disabled]="!userForm.valid"
              (click)="updateUser(content3)"
            >
              Si
            </button>
          </div>
        </ng-template>
        <ng-template #content3 let-c="close" let-d="dismiss">
          <div class="modal-header text-center">
            <h4 class="modal-title" id="modal-basic-title">Pannello Utente</h4>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="d('Cross click')"
            ></button>
          </div>
          <div class="modal-body">
            <div
              style="height: 13vh"
              class="d-flex align-items-center justify-content-center"
            >
              <h5 class="text-center text-primary">
                Dati aggiornati correttamente!
              </h5>
            </div>
            <div class="text-center text-success h1">
              <i class="bi bi-check-circle"></i>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-around">
            <button
              type="button"
              class="btn-primary btn btn-block btn-lg"
              (click)="disconnect()"
            >
              Disconnetti
            </button>
          </div>
        </ng-template>
        <div
          class="d-flex align-items-center justify-content-center flex-column user-button"
        >
          <p class="h1 text-primary m-0 p-0">
            <i (click)="open(content)" class="bi bi-person-circle"></i>
          </p>
          <strong class="text-primary m-0 p-0">Profilo </strong>
        </div>
      </div>
      <div class="col-sm-5 d-flex align-items-center">
        <div class="input-group rounded">
          <input
            type="search"
            [(ngModel)]="searchInput"
            (keyup.enter)="search()"
            class="form-control"
            placeholder="Cerca"
            aria-label="Search"
            aria-describedby="search-addon"
          />
          <button
            (click)="search()"
            class="btn btn-primary border-0"
            id="search-addon"
            [disabled]="searchInput.length === 0"
          >
            <i class="bi bi-search"></i>
          </button>
        </div>
        <div class="col">
          <div ngbDropdown>
            <button class="btn btn-warning" id="language" 
                    ngbDropdownToggle>{{selectedLanguage}}</button>
            <div ngbDropdownMenu="language">
              <button ngbDropdownItem (click)="selectLanguage('it')">it</button>
              <button ngbDropdownItem (click)="selectLanguage('en')">en</button>
            </div>
          </div>
        </div>
      </div>
      <hr class="solid mt-1" />
    </div>
    <div class="row">
      <div class="col">
        <h3 class="text-primary text-md-start text-center">Totale: {{ filteredNews.length }}</h3>
      </div>
      <div class="col d-flex">
        <div class="col text-center">
          <button
            class="btn btn-outline-primary w-auto"
            [class.active]="isActive('all')"
            (click)="setActive('all')"
          >
            Tutti
          </button>
        </div>
        <div class="col text-center">
          <button
          
            class="btn btn-outline-primary w-100"
            [class.active]="isActive('positive')"
            (click)="setActive('positive')"
          >
            Positivi
          </button>
        </div>
        <div class="col text-center">
          <button
            class="btn btn-outline-primary w-100"
            [class.active]="isActive('neutral')"
            (click)="setActive('neutral')"
          >
            Neutrali
          </button>
        </div>
        <div class="col text-center">
          <button
            class="btn btn-outline-primary w-100"
            [class.active]="isActive('negative')"
            (click)="setActive('negative')"
          >
            Negativi
          </button>
        </div>
      </div>
      <hr
        class="solid mt-3"
      />
    </div>
    <div class="row m-0 p-0 content">
      <div
        class="row p-0 m-0"
      >
        <div *ngIf="this.news.length === 0 && !this.loader.getLoading()" class="text-center">
          <h1 class="mt-5">Ops.. Nessun Risultato, Riprova con un'altra parola!</h1>
        </div>
        <div
          *ngFor="let new of filteredNews; let i = index"
          class="card-row"
          style="margin: 0; padding: 0"
        >
          <div
            class="row"
          >
            <app-news-card [news]="new" [index]="i"></app-news-card>
          </div>
          <div
            class="row"
          >
            <hr class="solid" style="display: block" />
          </div>
        </div>
        <div *ngIf="!populate">
          <div
            class="text-center"
            *ngIf="
              filteredNews.length >= 1 && newsService.getEstimated() > filteredNews.length + 10
            "
          >
            <button (click)="showMore()" class="btn btn-primary center mb-1">
              Carica Altro ...
            </button>
          </div>
          <div
          class="text-center"
          *ngIf="
            filteredNews.length >= 1 && newsService.getEstimated() < filteredNews.length + 10
          "
        >
          <button (click)="showMore()" class="btn btn-primary center mb-1" disabled=true>
            Non c'e altro
          </button>
        </div>
        </div>
      </div>
    </div>
    <div
      class="spinner-border loader"
      role="status"
      *ngIf="loader.getLoading()"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
