.main-container{
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
  background: #fff;
  height: 90vh;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #a3a3a3;
}

.content{
  height: 75%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.box-header{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.search-input{
  width: 30%;
}


.title{
  font-size: 3vmax;
  line-height: 1;
  font-weight: 900;
}

.loader{
  position:absolute;
  top: 50%;
  left: 47%;
}

hr.solid {
  width: 100%;
}

.card-row{
  margin:0;
}

@media screen and (max-width: 600px) {
  .wrapper{
    height: 100vh;
    border-radius: 0;
  }

  .content{
    height: 67%;
    overflow-x: hidden;
  }
}