<div class="container-fluid" data-aos="fade-in">
  <div class="row min-vh-100">
    <div class="col-lg left bg-primary text-white p-5 text-center d-flex">
      <div class="row align-items-center justify-content-center">
        <div class="row">
          <div class="row">
            <h1 class="h1 title"><span class="text-primary">Neutral</span></h1>
          </div>
          <div class="row"><p class="h1 title">News</p></div>
          <div class="row">
            <p class="h3 subtitle">
              Resta aggiornato su tutto ciò che ti interessa con la possibilità
              di poter filtrare i contenuti tossici
            </p>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="col-lg right p-3 d-flex">
      <div class="container">
        <h1 class="login-typography">Login</h1>
        <p>Non hai un account? <a href="signup">Crealo subito!</a> ci vuole meno di 1 minuto!</p>
        <form [formGroup]="userForm">
          <div class="form-floating mb-4 mt-3">
            <input type="text" class="form-control" id="floatingUsername" formControlName="username" placeholder="username">
            <label for="floatingUsername">Username</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" formControlName="password" placeholder="password">
            <label for="floatingPassword">Password</label>
          </div>
          <br>
          <div>
            <button class="btn btn-primary btn-login" (click)="login()" [disabled]="!userForm.valid">Login</button>
          </div>
        </form>
      </div>
    </div>
    
  </div>
</div>
<!-- partial -->