<div class="main-container">
  <div class="row main-row">
    <div class="col left">
      <h1 class="h1 title"><span>Neutral</span></h1>
      <p class="h1 title">News</p>
      <p class="h3 subtitle">Resta aggiornato su tutto ciò che ti interessa con la possibilità di poter filtrare i contenuti tossici</p>
    </div>
    
    
    <div class="col right">
      <div class="right-wrapper container">
        <h1 class="login-typography">Login</h1>
        <p>Non hai un account? <a href="signup">Crealo subito!</a> ci vuole meno di 1 minuto!</p>
        <div class="form-group">
          <div class="input-group mb-4 mt-3 flex">
            <input type="text" [(ngModel)]="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-4">
            <input type="password" [(ngModel)]="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Remember Me
          </label>
        </div>
        <br>
        <div>
          <button class="btn btn-primary btn-login" (click)="login()">Login</button>
        </div>
      </div>
    </div>
    
  </div>
</div>
<!-- partial -->